
@font-face
{
    font-family:'MyEffraRegular';
    src:url("../font/effra/effra-webfont.eot");
    src:url("../font/effra/effra-webfont.eot?#iefix") format("embedded-opentype"),url("../font/effra/effra-webfont.woff") format("woff"),url("../font/effra/effra-webfont.ttf") format("truetype"),url("../font/effra/effra-webfont.svg#EffraRegular") format("svg");
}

body {
    font-family: MyEffraRegular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin:0;
    padding:0;
    height:100%;
    background-color:#181E29;
    overflow-x:hidden;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.platforms {
    padding:0px 20px 20px 20px;
}

.container-fluid {
    padding:0;
}

::-webkit-scrollbar
{
width: 12px;  /* for vertical scrollbars */
height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: #181E29;
}

::-webkit-scrollbar-thumb
{
    background:  rgba(140, 140, 140, 0.4);
    border-radius: 10px;
}

.section {
    text-align:center;
    color:#FFF;
}

.header {
    text-align:left;
    background-color:#181E29;
    padding:20px;
}

.header ol{
    padding:10px 0 10px 40px;
    font-size:17px;
    width:280px;
    margin:0 auto;
}

.header li{
    padding-bottom:16px;
}

.section h1 {
    margin:0;
    font-size:23px;
    padding:30px 20px 5px 0px;
}

.header > h1 {
    font-size:26px;
}

.header .devices {
    padding:30px;
}

.feature  p {
    padding:10px 30px 40px 30px;
    font-size:16px;
    margin:0px;
    margin: 0 auto;
    max-width: 600px;
}

.feature h1 {
    padding:20px 20px 5px 20px;
}

.feature1 {
    background:url('../img/feature1.jpg');
}

.feature1 img {
    padding:30px;
}

.feature2 {
    background:url('../img/feature2.jpg');
}

.feature2 img {
    padding:20px ;
}

.feature3 {
    background:url('../img/feature3.jpg');
}


.feature3 img {
    padding:40px 0 20px 0px;
}

.feature:nth-child(even)
{
    background-color:#EEE;
}

.avail
{
    padding-bottom:5px;
    text-align:center;
        font-size:12px;
}

.footer {
    padding:15px;
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }


@media (min-width: 767px) {
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
    .header ol{
        padding:10px 0 0 20px;
        font-size:17px;
    }

    .feature1 img {
        padding:80px 20px 80px 40px;
    }

    .feature2 img {
        padding:40px ;
    }

    .feature3 img {
        padding:80px 0 80px 40px;
    }

    .feature h1 {
        padding:90px 20px 5px 0px;
    }

    .feature1 {
        position:relative;
       
    }

    .feature1 p {
         padding:10px 30px 80px 30px;
      
    }

    .avail
    {
        position: absolute;
        bottom:5px;
        
        width:100%;
        
    }

    .header ol {
        padding-bottom:0px;
        margin:0;
    }

    .platforms {
        padding-bottom:10px;   
    }
}